<!DOCTYPE html>
<html>
  <head>
    <title>Jumia || Srapping</title>
    {% load static %}
    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href='/static/css/styles.css?{% now "U" %}' />
  </head>
  <body>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="px-4 py-10 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-xl font-semibold text-gray-900">Smartphones</h1>
          <p class="mt-2 text-sm text-gray-700">
            A table of smartphones list scrapped from
            <a
              href="https://jumia.com.tn"
              class="py0.5 rounded-md bg-indigo-100 px-2 font-bold text-indigo-700"
              >jumia.tn</a
            >
          </p>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
          {% if products|length > 0 %}
          <form action="{% url 'export_to_excel' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="products_df" value="{{ products }}" />
            <input type="hidden" name="query" value="{{ query }}" />
            <button
              type="submit"
              class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
            >
              Export to Excel
            </button>
          </form>
          {% else %}
          <button
            type="submit"
            disabled
            class="inline-flex disabled items-center justify-center rounded-md border border-transparent bg-gray-500 px-4 py-2 text-sm font-medium text-white shadow-sm sm:w-auto"
          >
            Export to Excel
          </button>
          {% endif %}
        </div>
      </div>
      <form class="w-full" method="get">
        <div class="sm:flex mt-4 sm:items-center">
          <div class="sm:flex-auto">
            <div class="flex space-x-2 rounded-md">
              <div
                class="relative flex flex-grow items-stretch focus-within:z-10"
              >
                <div
                  class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                >
                  <!-- Heroicon name: solid/users -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="h-5 w-5 text-gray-400"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <input
                  type="text"
                  name="search"
                  value="{{query}}"
                  id="search"
                  class="block w-full rounded-none rounded-md border-gray-300 pl-10 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  placeholder="Search"
                />
              </div>
              <div class="flex w-80 rounded-md shadow-sm">
                <div
                  class="relative flex flex-grow items-stretch focus-within:z-10"
                >
                  <div class="flex rounded-md shadow-sm">
                    <span
                      class="inline-flex justify-center items-center px-3 w-28 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm"
                    >
                      Min price
                    </span>
                    <input
                      type="text"
                      name="min_price"
                      value="{{min_price}}"
                      id="min_price"
                      class="block w-full rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                      placeholder="min price"
                    />
                  </div>
                </div>
              </div>
              <div class="flex rounded-md shadow-sm">
                <div
                  class="relative flex flex-grow items-stretch focus-within:z-10"
                >
                  <div class="flex rounded-md shadow-sm">
                    <span
                      class="inline-flex justify-center items-center px-3 w-28 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm"
                    >
                      Max price
                    </span>
                    <input
                      type="text"
                      name="max_price"
                      value="{{max_price}}"
                      id="max_price"
                      class="block w-full rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                      placeholder="max price"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <button
              type="submit"
              class="relative -ml-px inline-flex items-center space-x-2 rounded-md border border-gray-300 bg-gray-50 px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
            >
              <!-- Heroicon name: solid/sort-ascending -->

              <span>Search</span>
            </button>
          </div>
        </div>
      </form>
      <div class="flex pt-2 items-center space-x-2">
        <div
          class="py-.0.5 rounded-md bg-indigo-600 px-2 font-medium text-gray-50"
        >
          {{products | length}} products
        </div>
        <div
          class="py-.0.5 rounded-md bg-indigo-600 px-2 font-medium text-gray-50"
        >
          {{time_taken}} seconds
        </div>
      </div>
      <div class="mt-8 flex flex-col">
        <div class="-mx-2 px-0.5 -my-2 overflow-x-auto">
          <div class="inline-block min-w-full py-2 align-middle">
            <div
              class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
            >
              <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                  <tr>
                    <th
                      scope="col"
                      class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                    >
                      Brand
                    </th>
                    <th
                      scope="col"
                      class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                    >
                      Name
                    </th>
                    <th
                      scope="col"
                      class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                    >
                      Price
                    </th>

                    <th
                      scope="col"
                      class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6"
                    ></th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                  {% if products|length > 0 %} {% for product in products %}
                  <tr class="hover:bg-indigo-100">
                    <td
                      class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-6"
                    >
                      {% if product.brand == 'Sans Marque'%}
                      <span
                        class="py-1 rounded-md bg-gray-500 px-2 font-bold text-gray-50"
                        >{{product.brand}}</span
                      >
                      {% else %}
                      <span
                        class="py-1 rounded-md bg-indigo-600 px-2 font-bold text-gray-50"
                        >{{product.brand}}</span
                      >
                      {%endif%}
                    </td>
                    <td
                      class="whitespace-nowrap items-center flex px-2 py-2 text-sm font-medium text-gray-900"
                    >
                      <img
                        width="70px"
                        style="margin-right: 50px"
                        class="rounded-lg"
                        src="{{product.image}}"
                      />
                      <div class="flex space-x-1 items-center">
                        <span> {{product.name}} </span>
                        {% if product.officiel == 1 %}

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          class="w-5 h-5 text-indigo-600"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                            clip-rule="evenodd"
                          />
                        </svg>

                        {% else %} {% endif %}
                      </div>
                    </td>
                    {% if product.sale == 0 %}
                    <td
                      class="whitespace-nowrap font-medium px-2 py-2 text-sm text-gray-900"
                    >
                      {{product.new_price}}0 TND
                    </td>
                    {% else %}
                    <td
                      class="whitespace-nowrap px-2 py-2 text-sm text-gray-900"
                    >
                      <span class="text-red-500 font-medium"
                        >{{product.old_price}}0 TND</span
                      >
                      <span class="text-green-500 font-medium"
                        >{{product.new_price}}0 TND</span
                      >
                      <span
                        class="bg-indigo-600 text-gray-50 font-medium px-2 py-0.5 rounded-md"
                        >{{product.sale}}</span
                      >
                    </td>
                    {% endif %}

                    <td
                      class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                    >
                      <a
                        href="https://jumia.com.tn{{product.url}}"
                        class="text-indigo-600 hover:text-indigo-900"
                        >Open</a
                      >
                    </td>
                  </tr>
                  {% endfor %} {% else %}
                  <tr>
                    <td colspan="4" class="py-10">
                      <!-- This example requires Tailwind CSS v2.0+ -->
                      <div class="text-center">
                        <svg
                          class="mx-auto h-12 w-12 text-gray-400"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            vector-effect="non-scaling-stroke"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"
                          />
                        </svg>
                        <h3 class="mt-2 text-sm font-medium text-gray-900">
                          No products
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">
                          Get started by search for new products.
                        </p>
                      </div>
                    </td>
                  </tr>

                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
