<!DOCTYPE html>
<html>
  <head>
    <title>Jumia || Srapping</title>
    {% load static %}
    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href='/static/css/styles.css?{% now "U" %}' />
  </head>
  <body>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="px-4 py-10 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-xl font-semibold text-gray-900">Smartphones</h1>
          <p class="mt-2 text-sm text-gray-700">
            A table of smartphones list scrapped from
            <a
              href="https://jumia.com.tn"
              class="py0.5 rounded-md bg-indigo-100 px-2 font-bold text-indigo-700"
              >jumia.tn</a
            >
          </p>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
          <button
            type="button"
            class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
          >
            Export
          </button>
        </div>
      </div>
      <div>
        <form class="mt-4">
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Search on jumia.tn</label
          >
          <div class="mt-1 flex rounded-md shadow-sm">
            <div
              class="relative flex flex-grow items-stretch focus-within:z-10"
            >
              <div
                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
              >
                <!-- Heroicon name: solid/users -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="h-5 w-5 text-gray-400"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                type="email"
                name="email"
                id="email"
                class="block w-full rounded-none rounded-l-md border-gray-300 pl-10 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                placeholder="Search"
              />
            </div>
            <button
              type="submit"
              class="relative -ml-px inline-flex items-center space-x-2 rounded-r-md border border-gray-300 bg-gray-50 px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
            >
              <!-- Heroicon name: solid/sort-ascending -->

              <span>Search</span>
            </button>
          </div>
        </form>
      </div>
      <div class="mt-8 flex flex-col">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8"
          >
            <div
              class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
            >
              <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                  <tr>
                    <th
                      scope="col"
                      class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                    >
                      Brand
                    </th>
                    <th
                      scope="col"
                      class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                    >
                      Name
                    </th>
                    <th
                      scope="col"
                      class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                    >
                      Price
                    </th>

                    <th
                      scope="col"
                      class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6"
                    ></th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                  {% for product in products %}
                  <tr class="hover:bg-indigo-100">
                    <td
                      class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-6"
                    >
                      {% if product.brand == 'Sans Marque'%}
                      <span
                        class="py-1 rounded-md bg-gray-500 px-2 font-bold text-gray-50"
                        >{{product.brand}}</span
                      >
                      {% else %}
                      <span
                        class="py-1 rounded-md bg-indigo-600 px-2 font-bold text-gray-50"
                        >{{product.brand}}</span
                      >
                      {%endif%}
                    </td>
                    <td
                      class="whitespace-nowrap px-2 py-2 text-sm font-medium text-gray-900"
                    >
                      {{product.name}}
                    </td>
                    {% if product.sale == 0 %}
                    <td
                      class="whitespace-nowrap font-medium px-2 py-2 text-sm text-gray-900"
                    >
                      {{product.new_price}}
                    </td>
                    {% else %}
                    <td
                      class="whitespace-nowrap px-2 py-2 text-sm text-gray-900"
                    >
                      <span class="text-red-500 font-medium"
                        >{{product.old_price}}</span
                      >
                      <span class="text-green-500 font-medium"
                        >{{product.new_price}}</span
                      >
                      <span
                        class="bg-indigo-600 text-gray-50 font-medium px-2 py-0.5 rounded-md"
                        >{{product.sale}}</span
                      >
                    </td>
                    {% endif %}

                    <td
                      class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                    >
                      <a
                        href="https://jumia.com.tn{{product.url}}"
                        class="text-indigo-600 hover:text-indigo-900"
                        >Open</a
                      >
                    </td>
                  </tr>
                  {% endfor %}

                  <!-- More transactions... -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
